@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#map {
    height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.wrapper {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.wrapper .chkbx_label {
    margin-left: 10px;
    color: #fff;
    cursor: default;
}

.wrapper input[type="month"] {
    margin-left: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 3px;
    border-radius: 5px;
}

.wrapper input[type="month"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.wrapper label {
    color: #fff;
    cursor: pointer;
}

.wrapper input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    background-color: #fff;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.wrapper input[type="checkbox"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 10px;
    content: "\f00c";
    color: #fff;
    display: none;
}

.wrapper input[type="checkbox"]:hover {
    background-color: #d5d5d5;
}

.wrapper input[type="checkbox"]:checked {
    background-color: #d77301;
}

.wrapper input[type="checkbox"]:checked:after {
    display: block;
}

/* .sidebar ul {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
} */

/* ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
} */

#check {
    display: none;
}

label #btn,
label #cancel {
    position: fixed;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 20px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
    z-index: 1111;
}

label #cancel {
    z-index: 1112;
    left: -195px;
    top: 17px;
    font-size: 20px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cancel {
    left: 195px;
}

#check:checked~section {
    margin-left: 250px;
}

section {
    height: 100vh;
    transition: all .4s ease;
}